<?xml version="1.0"?>

<model>
  <name>pizza</name>
  <version>1.0</version>
  <sdf version='1.6'>model.sdf</sdf>

  <author>
    <name>Fabricio Jallaza</name>
    <email>fabricio.jallaza@ucb.edu.bo</email>
  </author>

  <description>
    Model created for robotics advanced course
  </description>
</model>
