<?xml version="1.0"?>

<model>
  <name>ext_circle</name>
  <version>1.0</version>
  <sdf version="1.5">model.sdf</sdf>

  <author>
    <name>Jhon Ordonez</name>
    <email>jordonez.i@ucb.edu.bo</email>
  </author>


  <description>
    Model created for final test UCB course
  </description>

</model>
